<div class="mi-form">
    <h1 class="text-center">Nueva Categoría</h1>
    <form>
        <div class="form-group ">
            <!-- NOMBRE -->
            <input autocomplete="off" id="cat_nombre" class="form-control" type="text" placeholder="Nombre" minlength="5" required [(ngModel)]="cat.cat_nombre" 
                name="cat_nombre" #cat_nombre="ngModel"
            >     
            <!-- COMPROBACIONES -->
            <div [hidden]="cat_nombre.valid || cat_nombre.pristine">
                <!-- Nombre obligatorio -->
                <div *ngIf="cat_nombre.errors?.['required']">
                    <div class="alert alert-warning d-flex align-items-center small" role="alert">
                        <span class="material-symbols-outlined">warning</span>
                        Este campo es requerido
                    </div>
                </div>
                <!-- Longitud minima -->
                <div *ngIf="cat_nombre.errors?.['minlength']">
                    <div class="alert alert-warning d-flex align-items-center small" role="alert">
                        <span class="material-symbols-outlined">warning</span>
                        El nombre debe tener mínimo 5 caracteres
                    </div>
                </div>
            </div>
            <br>
            <!-- DESCRIPCION -->
            <input id="descr" name="descr" class="form-control" type="text" [(ngModel)]="cat.cat_descripcion" placeholder="Descripción">
        </div>
        <br>
        <!-- BOTONES -->
        <div class="buttons">
            <button routerLink="/categorias" class="btn btn-primary confirm-button buttons"><span class="material-symbols-outlined">arrow_back</span></button>
            <button center [disabled]="cat_nombre.errors?.['minlength'] || cat_nombre.errors?.['required']" class="btn btn-success confirm-button buttons" 
                (click)="insertar()">Añadir</button
            >
        </div>
    </form>
</div>