
<div class="app" *ngIf="nav.visible">
    <!-- Sidebar Menu -->
    <aside class="sidebar"><img src="./assets/incienso-4.png" height="90"/>
        <h3>Menu</h3>
        <nav class="menu">
            <a routerLink="/welcome" class="menu-item" routerLinkActive="active" ariaCurrentWhenActive="page">Inicio</a>
            <a routerLink="/categorias" routerLinkActive="active" class="menu-item" ariaCurrentWhenActive="page">Categorías</a>
            <a routerLink="/contacto" class="menu-item" routerLinkActive="active" ariaCurrentWhenActive="page">Contacto</a>
        </nav>
    </aside>
</div>